# Keycloak app.env.sample
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname / domain
BASE_HOST_NAME=myhostname
BASE_DOMAIN_NAME=example.com

# Admin credentials
APP_ADMIN_USER=kcadmin
APP_ADMIN_PASS=changeme_admin_password

# Database credentials
DB_USER_NAME=keycloak
DB_USER_PASS=changeme_db_password
DB_CREATE_DATABASE_NAME=keycloak
