# nginx proxy address - http://172.17.0.1:59035

name: keycloak
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  app:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-app
    domainname: ${BASE_DOMAIN_NAME:-}
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    command: start --proxy-headers=xforwarded
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      KC_HOSTNAME: ${BASE_HOST_NAME:-$HOSTNAME}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${APP_ADMIN_USER:-kcadmin}@${BASE_DOMAIN_NAME:-${BASE_HOST_NAME}}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${APP_ADMIN_PASS:-changeme_admin_password}
      KC_HOSTNAME_STRICT: false
      KC_HTTP_ENABLED: true
      KC_PROXY: edge
      KC_PROXY_ADDRESS_FORWARDING: true
      KC_DB: postgres
      KC_DB_USERNAME: ${DB_USER_NAME:-keycloak}
      KC_DB_PASSWORD: ${DB_USER_PASS:-changeme_db_password}
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: ${DB_CREATE_DATABASE_NAME:-keycloak}
    ports:
      - '172.17.0.1:59035:8080'
    depends_on:
      db:
        condition: service_healthy
    networks:
      - keycloak

  db:
    image: postgres:16
    container_name: keycloak-db
    hostname: keycloak-db
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      POSTGRES_DB: ${DB_CREATE_DATABASE_NAME:-keycloak}
      POSTGRES_USER: ${DB_USER_NAME:-keycloak}
      POSTGRES_PASSWORD: ${DB_USER_PASS:-changeme_db_password}
    volumes:
      - './rootfs/data/db/postgres/keycloak:/var/lib/postgresql/data'
    healthcheck:
      test:
        ['CMD-SHELL', 'pg_isready -q -d $${POSTGRES_DB} -U $${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - keycloak

networks:
  keycloak:
    name: keycloak
    external: false
